.readyserve {
  background: var(--clr-red);
}
.readyserve_con {
  width: 90%;
  margin: 0 auto;
  max-width: 1250px;
  padding: 2em 0;
  text-align: center;
  letter-spacing: 2px;
  text-shadow: 2px 2px grey;
  background: var(--clr-red);
  color: var(--clr-ligh);
  line-height: 1.6;
  //   font-size: 3.5rem;
}
